<html>
    <head>
        <link href="/admin_main2.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>매출 관리 사이트</title>
    </head>
    <body>
        <div>
        <h2 class="admin_main_title">매출 관리 사이트</h2>
            <form action='/admin_login/admin_main2' method='get'>
                <button type='submit' class="admin_button0">상품정보 관리 페이지로</button>
            </form>
        </div>
        <div class = "table0" >
            <% var tr_amount = 0%>총 매출액 : <% for(var i=0; i<list.length;i++){ if(list[i].status == 'paid'){tr_amount = tr_amount + list[i].amount}}%>
                <%=tr_amount%> 원
            
            
        </div>
        <div>
<table border='1'>
            <colgroup>
                <col width='10%'><col width='20%'><col width='20%'><col width='10%'><col width='10%'><col width='20%'><col width='10%'>
            </colgroup>
            
        <thead>
            <tr align="center">
                <th class='admin_main_number'>번호</th>
                <th class="admin_main_name">결제명</th>
                <th class="admin_main_price">가격</th>
                <th class="admin_main_cardname">카드명칭</th>
                <th class="admin_main_cardnum">카드번호</th>
                <th class="admin_main_userid">결제시각</th>
                <th class="admin_main_userid">지불정보</th>
            </tr>
        </thead>
        <tbody>
                <% for(i=0 ; i < list.length; i++){%>
                    <tr align="center">
                    <td class="admin_main_text"><%=list.length -i%> 번째 주문</td>
                    <td class="admin_main_text"><%=list[i].name%></td>
                    <td class="admin_main_text"><%=list[i].amount%> <%=list[i].currency%></td>
                    <td class="admin_main_text"><%=list[i].card_name%></td>
                    <td class="admin_main_text"><%=list[i].card_number%></td>
                    <td class="admin_main_text"><%=list[i].buyer_addr%></td>
                    <td class="admin_main_text">
                        <% if(list[i].status == 'paid'){ %>결제완료<%}%>
                        <% if(list[i].status == 'cancelled'){%>결제취소됨<%}%>
                        <% if(list[i].status == 'ready'){%>결제중도취소<%}%>
                        <% if(list[i].status == 'failed'){%>결제거부<%}%>
                    </td>
                    </tr>
                <%}%>
        </tbody>
    </table boader='1'>
        </div>
    </body>
</html>