<html>
    <head>
        <link href="/main/admin_main2.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>매출 관리 페이지</title>      
    </head>
    <body>
            <%function Unix_timestamp(t){%>
                <%var date = new Date(t*1000);%>
                <%var year = date.getFullYear();%>
                <%var month = "0" + (date.getMonth()+1);%>
                <%var day = "0" + date.getDate();%>
                <%var hour = "0" + date.getHours();%>
                <%var minute = "0" + date.getMinutes();%>
                <%var second = "0" + date.getSeconds();%>
                <%return year + "-" + month.substr(-2) + "-" + day.substr(-2) + " " + hour.substr(-2) + ":" + minute.substr(-2) + ":" + second.substr(-2);}%>
        <div>
        <h2 class="admin_main_title">매출 관리 페이지</h2>
            <form action='/admin_login/admin_main2' method='get'>
                <button type='submit' class="admin_button0">상품정보 관리 페이지로</button>
            </form>
        </div>
        <div class = "table0" >
            <% var tr_amount = 0%>총 매출액 : <% for(var i=0; i<list.length;i++){ if(list[i].status == 'paid'){tr_amount = tr_amount + list[i].amount}}%>
                <%=tr_amount%> 원
            
            
        </div>
        <div class = "admin_main_table0">
<table border='1'>
            <colgroup>
                <col width='10%'><col width='15%'><col width='20%'><col width='20%'><col width='5%'><col width='10%'>
            </colgroup>
            
        <thead>
            <tr align="center">
                <th class='admin_main_number'>번호</th>
                <th class="admin_main_name">결제명</th>
                <th class="admin_main_price">가격</th>
                <th class="admin_main_userid">결제시각</th>
                <th class="admin_main_userid">UID</th>
                <th class="admin_main_userid">지불정보</th>
            </tr>
        </thead>
        <tbody>
            <% var k = 0%>
            <%for(p=0;p<list.length;p++){if(list[p].status == 'paid'){k++;}else if(list[p].status == 'cancelled'){k++;}}%>
            <% for(i=0 ; i < list.length; i++){%>
                <% if(list[i].status == 'paid') {%>
                    <tr align="center">
                        <td class="admin_main_text"><%=k%> 번</td>
                        <td class="admin_main_text"><%=list[i].name%></td>
                        <td class="admin_main_text"><%=list[i].amount%> <%=list[i].currency%></td>
                        <td class="admin_main_text"><%=Unix_timestamp(list[i].paid_at)%></td>
                        <td class="admin_main_text"><%=list[i].imp_uid%></td>
                        <td class="admin_main_text" id="결제완료됨">결제완료</td>
                    </tr>
                    <%k--;}else if(list[i].status == 'cancelled'){ %>
                        <tr align="center">
                            <td class="admin_main_text"><%=k%> 번</td>
                            <td class="admin_main_text"><%=list[i].name%></td>
                            <td class="admin_main_text"><%=list[i].amount%> <%=list[i].currency%></td>
                            <td class="admin_main_text"><%=Unix_timestamp(list[i].paid_at)%></td>
                            <td class="admin_main_text"><%=list[i].imp_uid%></td>
                            <td class="admin_main_text" id="결제취소됨">결제취소됨</td>
                        </tr>
            <%k--;}}%>
        </tbody>
    </table boader='1'>
        </div>
<div class="table2">
    <form action='/payments/cancel' method='post' autocomplete="off">
        UID : <input type="text" id ="Pimp_uid" name="Pimp_uid" list="UID">
        <datalist id="UID">
            <% for(i = 0; i < list.length; i++) { %>
                <% if(list[i].status == 'paid') { %>
                    <option value="<%=list[i].imp_uid%>">
                <% }} %>
            </option></datalist>
            <button type='submit' class="text_button3">환불하기</button>
        
    </form>
</div>
    </body>
</html>