<html>
    <head>
        <meta charset="utf-8">
        <title>admin</title>
    </head>
    <body>
        <h2>admin</h2>
        <div>
<table border='1'>
            <colgroup>
                <col width='100'><col width='100'><col width='100'><col width='100'><col width='300'>
            </colgroup>
            
        <thead>
            <tr align="center">
                <th>번호</th>
                <th>결제명</th>
                <th>가격</th>
                <th>카드명칭</th>
                <th>카드번호</th>
            </tr>

        </thead>
        <tbody>

                    <tr align="center">
                    <td><%=1%></td>
                    <td><%=list[0].name%></td>
                    <td><%=list[0].amount%> <%=list[0].currency%></td>
                    <td><%=list[0].card_name%></td>
                    <td><%=list[0].card_number%></td>
                </tr>

                




        </tbody>
    </table boader='1'>
        </div>
        
<div>
    <form action='/admin_login/admin_main2' method='get'>
        <button type='submit'>관리페이지로</button>
    </form>
</div>
    </body>
</html>